.comment {
    background: #fdfdfd;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .comment h3 {
    display: flex;
    align-items: center;
    justify-content: centers;
  }